*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} 

swiper-container {
    width: 99vw;
    height: 99vh;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 99vw;
    height: 99vh;
    object-fit: cover;
  }

.front{
    z-index: 1;
}

.navbar{
    border: 1px solid orangered;
    width: 99vw;  
    height: 9.8vh;
    position: absolute;
    z-index: 1000;
    margin-top: 8vh;
}


.banner{
    border: 1px solid black;
    width: 100vw;
    height: 99vh;
} 

.about{
    border: 1px solid green;
    width: 99vw;
    height: 81vh;
}

.window{
    border: 1px solid blue;
    width: 99vw;
    height: 61.5vh;
}

.menu{
    border: 1px solid purple;
    width: 99vw;
    height: 100vh;
}

.back{
    border: 1px solid ridge red;
    width: 99vw;
    height: auto;
    position: fixed;
    background-color: black;
    opacity: 1;
}
