*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} 

.front{
    z-index: 1;
}

.navbar{
    border: 1px solid orangered;
    width: 99vw;  
    height: 15vh;
    position: absolute;
    z-index: 1000;
    margin-top: 5vh;
}

.logo1{
    position: absolute;
    margin-left: 8vw;
    margin-top: -0.7vh;
}

.banner{
    border: 1px solid black;
    width: 100vw;
    height: 99vh;
} 

.about{
    border: 1px solid green;
    width: 99vw;
    height: 81vh;
}

.window{
    border: 1px solid blue;
    width: 99vw;
    height: 61.5vh;
}

.menu{
    border: 1px solid purple;
    width: 99vw;
    height: 100vh;
}

.back{
    border: 1px solid ridge red;
    width: 99vw;
    height: auto;
    position: fixed;
    background-color: black;
    opacity: 1;
}

swiper-container {
    width: 99vw;
    height: 99vh;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(-90);
  }

  swiper-slide img {
    display: block;
    width: 99vw;
    height: 99vh;
    object-fit: cover;
    filter: brightness(60%);
  }

  .s1c{
    position: absolute;
    border: 1px solid yellow;
    color: white;
    width: 38.6vw;
    height: 10vh;
    font-size: 47.4px;
    padding: 0;
  }