*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} 

.front{
    z-index: 1;
}

.navbar{
    width: 99vw;  
    height: 15vh;
    position: absolute;
    z-index: 1000;
    margin-top: 5vh;
}

.logo1{
    position: absolute;
    margin-left: 8.1vw;
    margin-top: -0.3vh;
}

.order-online-btn {
    position: absolute;
    margin-top: 1.8vh;
    padding: 1px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 65px;
    font-family: 'Oswald'; 
    color: white;
    margin-left: 22.2vw;
    background-color: transparent;
    border: 1px solid #f94545;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .order-online-btn:hover {
    background-color: rgba(249, 69, 69, 1); 
    color: white;
  }

  .home{
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", serif;
    font-weight: 600;
    color: #ed1c24;
    margin-left: 106vh;
    margin-top: 5vh;
  }

  .aboutus{
    font-family: "Roboto", serif;
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-top: 5vh;
    font-weight: 600;
    margin-left: 115vh;
  }

  .opportunities{
    font-family: "Roboto", serif;
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-top: 5vh;
    font-weight: 600;
    margin-left: 130.5vh;
  }

  .stores{
    font-family: "Roboto", serif;
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-top: 5vh;
    font-weight: 600;
    margin-left: 150.8vh;
  }

  .menu{
    font-family: "Roboto", serif;
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-top: 5vh;
    font-weight: 600;
    margin-left: 161.6vh;
  }

  .promotion{
    font-family: "Roboto", serif;
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-top: 5vh;
    font-weight: 600;
    margin-left: 170.8vh;
  }

.banner{
    border: 1px solid black;
    width: 100vw;
    height: 99vh;
} 

.view-stores-btn {
    position: absolute;
    background: rgb(249, 69, 69);       
    color: #fff;                     
    font-size: 16px; 
    font-family: 'Oswald';                   
    font-weight: 600;               
    padding: 14px 20px;   
    border: 1px;   
    margin-top: 48vh;           
    border-color: #ed1c24;                               
    cursor: pointer;                    
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .view-stores-btn:hover {
   background: #fff;
   color: #f94545;
   border: transparent;
  }
  

.about{
    width: 99vw;
    height: 81vh;
}

.abth1{
    font-size: 20px;
    margin-top: 100px;
    padding-left: 9.4vw;
    font-family: 'Oswald';
    color: #616161;
}

.abth2{
    font-size: 30px;
    margin-left: 9.4vw;
    margin-top: 17px;
    font-family: 'Oswald';
    color: #616161;
}

.h2span1{
   color: #f94545;
}

.abtb1{
    color: #f94545;
    letter-spacing: 4px;
    font-size: 20px; 
    padding-left: 9.4vw;
    /* margin-top: 200px !important;  */
}

.bgshading{
    border: 1px dotted;
    border-color: #c19d60;
    background: #f9f9f9;
    height: 150px;
    width: 30vw;
    margin-left: 53.6vw; 
    margin-top: 26vh;
}

.abtimg1{
    position: absolute;
    margin-left: 161.5vh;
    height: 75.3vh;
    margin-top: -67.5vh;
}

.abtimg2{
    position: absolute;
    margin-left: 50.4vw ;
    width: 39.67vw;
    margin-top: -60.5vh;
}

.abtp1{
    position: absolute;
    font-size: 14px; 
    padding-left: 9.4vw;
    margin-top: -42vh;
    line-height: 20px;
    font-family: "Roboto", serif;
    color: #5e646a;
}

.abtp2{
    position: absolute;
    font-size: 14px;
    padding-left: 9.4vw;
    line-height: 20px;
    margin-top: -30vh;
    font-family: "Roboto", serif;
    color: #5e646a;
}

.read-more-button {
    background-color: #e53935;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    position: absolute;
    margin-left: 9.4vw;
    margin-top: -18vh;
    font-family: 'Oswald';
}

.read-more-button:hover {
    background-color: #d32f2f; 
}

.abtspan1{
  margin-left: 15px;
}

.window{
    position: relative;
    width: 99vw;
    height: 61.5vh;
    overflow: hidden;
    z-index: 0;
    
}

.window::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/mountainlake02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(60%);
    z-index: -1;
}

.winimg1{
    position: absolute;
}

.winimg2{
position: absolute;
  margin-top: 55.9vh;
}

/* .menu{
    border: 1px solid purple;
    width: 99vw;
    height: 100vh;
    text-align: center;
     display: flex;
    align-items: center;
    justify-content: center;   
    margin-top: -33.5vh;
}

.menuh4{
    font-size: 20px;
    color: #616161;
    font-family: 'Oswald';
}

.menuh2{
    font-family: 'Oswald';
    color: #616161;
    margin-top: 10vh; 
}

.mspan1{
    color: #f94545;
} */

.back{
    border: 1px solid ridge red;
    width: 99vw;
    height: auto;
    position: fixed;
    background-color: black;
    opacity: 1;
}

swiper-container {
    width: 99vw;
    height: 99vh;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(-90);
  }

  swiper-slide img {
    display: block;
    width: 99vw;
    height: 99vh;
    object-fit: cover;
    filter: brightness(60%);
  }

  .s1c1{
    position: absolute;
    color: white;
    font-family: 'Oswald';
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: -7.55vh;
  }

  .s1p1{
    font-size: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }

  .s1hr{
    font-weight: 100;
    margin-top: -25.3vh;
    position: absolute;
    width: 3.4vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.6);
  }

  .s1hr2{
position: absolute;
color: black;
background: #292929;
width: 8vw;
margin-top: 30vh;
margin-left: -18.5vw;
opacity: 20%;
  }

  .s1hr3{
position: absolute;
position: absolute;
color: black;
background: #292929;
width: 8vw;
margin-top: 30vh;
margin-left: 18.4vw;
opacity: 20%;
}

.spannn{
    position: absolute;
    margin-top: 26.5vh;
    color: white;
    font-size: 50px;
}

  .s1c2{
      position: absolute;
      color: white;
      font-family: 'Oswald';
      display: flex;
      align-items: center;
      margin-top: 10.9vh;
    }

    .s1h4{
      font-size: 30px;
      margin-top: 5vh;
    }

    .winh1{
        font-family: 'Oswald';
        color: #f94545;
        font-size: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:12.6vh;
    }

    .winh2{
        font-family: 'Oswald';
        font-size: 40px;
        color: white;
        text-align: center;
    }

    .winh2{
        margin-top: 2.4vh;
    }

    .winb1{
        color: #f94545;
        letter-spacing: 4px;
        font-size: 20px; 
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5vh;
    }

    .winh3{
        font-family: 'Oswald';
        font-size: 24px;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.9vh;
        font-weight: 400;
    }